USE [NationalParkDB]
GO
/****** Object:  Table [dbo].[ResearchAchievements]    Script Date: 2025/12/31 15:07:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResearchAchievements](
	[achievement_id] [varchar](50) NOT NULL,
	[project_id] [varchar](50) NOT NULL,
	[achievement_type] [nvarchar](20) NOT NULL,
	[title] [nvarchar](200) NOT NULL,
	[publish_date] [date] NOT NULL,
	[share_permission] [nvarchar](20) NOT NULL,
	[file_path] [varchar](255) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[achievement_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_researchachievement_project_permission]    Script Date: 2025/12/31 15:07:03 ******/
CREATE NONCLUSTERED INDEX [idx_researchachievement_project_permission] ON [dbo].[ResearchAchievements]
(
	[project_id] ASC,
	[share_permission] ASC
)
INCLUDE([title],[achievement_type],[publish_date]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [idx_researchachievement_publish_date]    Script Date: 2025/12/31 15:07:03 ******/
CREATE NONCLUSTERED INDEX [idx_researchachievement_publish_date] ON [dbo].[ResearchAchievements]
(
	[publish_date] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResearchAchievements]  WITH CHECK ADD FOREIGN KEY([project_id])
REFERENCES [dbo].[ResearchProjects] ([project_id])
GO
/****** Object:  Trigger [dbo].[trg_cascade_delete_auth]    Script Date: 2025/12/31 15:07:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 触发器：删除科研成果时，自动删除关联的授权记录（SQL Server 专用语法）
CREATE TRIGGER [dbo].[trg_cascade_delete_auth]
ON [dbo].[ResearchAchievements]
AFTER DELETE  -- SQL Server 无需 FOR EACH ROW，默认行级触发
AS
BEGIN
    SET NOCOUNT ON;  -- 关闭计数提示，避免影响返回结果
    
    -- 删除关联的授权记录（通过 deleted 虚拟表获取被删除的成果ID）
    DELETE FROM AuthorizedAccesses 
    WHERE achievement_id IN (SELECT achievement_id FROM deleted);
END;
GO
ALTER TABLE [dbo].[ResearchAchievements] ENABLE TRIGGER [trg_cascade_delete_auth]
GO
/****** Object:  Trigger [dbo].[trg_deny_auth_achievement_permission]    Script Date: 2025/12/31 15:07:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 触发器：保密成果授权后，禁止修改共享权限（SQL Server 版本）
CREATE TRIGGER [dbo].[trg_deny_auth_achievement_permission]
ON [dbo].[ResearchAchievements]
INSTEAD OF UPDATE  -- SQL Server 用 INSTEAD OF 拦截非法更新
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 仅当共享权限被修改，且成果为保密且已授权时触发拦截
    IF UPDATE(share_permission)
    BEGIN
        -- 检查是否有已授权的保密成果被修改权限
        IF EXISTS (
            SELECT 1 
            FROM inserted i  -- 新数据
            JOIN deleted d ON i.achievement_id = d.achievement_id  -- 旧数据
            JOIN AuthorizedAccesses auth ON i.achievement_id = auth.achievement_id
            WHERE d.share_permission = '保密' AND i.share_permission != '保密'
        )
        BEGIN
            -- 抛出错误，终止更新操作
            RAISERROR ('该保密成果已授权用户访问，禁止修改共享权限', 16, 1);
            RETURN;
        END
    END
    
    -- 若校验通过，执行正常更新（INSTEAD OF 需手动重写更新逻辑）
    UPDATE ResearchAchievements
    SET 
        project_id = i.project_id,
        achievement_type = i.achievement_type,
        title = i.title,
        publish_date = i.publish_date,
        share_permission = i.share_permission,
        file_path = i.file_path
    FROM inserted i
    WHERE ResearchAchievements.achievement_id = i.achievement_id;
END;
GO
ALTER TABLE [dbo].[ResearchAchievements] ENABLE TRIGGER [trg_deny_auth_achievement_permission]
GO
