USE [NationalParkDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_revoke_achievement_auth]    Script Date: 2025/12/31 15:07:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 撤销用户对成果的访问授权（SQL Server 版本）
CREATE PROCEDURE [dbo].[sp_revoke_achievement_auth]
    @achievement_id VARCHAR(50),
    @user_id VARCHAR(50)
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 校验授权记录是否存在
    IF NOT EXISTS (
        SELECT 1 FROM AuthorizedAccesses 
        WHERE achievement_id = @achievement_id AND user_id = @user_id
    )
    BEGIN
        RAISERROR ('该用户未被授权访问此成果，撤销失败', 16, 1);
        RETURN;
    END
    
    -- 删除授权记录
    DELETE FROM AuthorizedAccesses 
    WHERE achievement_id = @achievement_id AND user_id = @user_id;
    
    PRINT '授权已撤销';
END;
GO
