USE [NationalParkDB]
GO
/****** Object:  StoredProcedure [dbo].[sp_batch_authorize_achievement]    Script Date: 2025/12/31 15:07:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- 批量授权用户访问保密成果（SQL Server 版本）
CREATE PROCEDURE [dbo].[sp_batch_authorize_achievement]
    @achievement_id VARCHAR(50),  -- 成果编号
    @user_ids VARCHAR(1000),      -- 逗号分隔的用户ID（如'U021,U022'）
    @authorizer_id VARCHAR(50)    -- 授权人ID（仅记录，无业务逻辑）
AS
BEGIN
    SET NOCOUNT ON;
    
    -- 校验1：成果是否存在
    IF NOT EXISTS (SELECT 1 FROM ResearchAchievements WHERE achievement_id = @achievement_id)
    BEGIN
        RAISERROR ('成果编号不存在，授权失败', 16, 1);
        RETURN;
    END
    
    -- 校验2：成果是否为保密类型
    IF (SELECT share_permission FROM ResearchAchievements WHERE achievement_id = @achievement_id) != '保密'
    BEGIN
        RAISERROR ('仅保密成果需授权，公开/内部共享成果无需操作', 16, 1);
        RETURN;
    END
    
    -- 拆分用户ID并批量插入（SQL Server 用字符串拆分逻辑）
    DECLARE @user_id VARCHAR(50), @pos INT;
    SET @user_ids = @user_ids + ',';  -- 末尾加逗号，统一处理逻辑
    
    WHILE CHARINDEX(',', @user_ids) > 0
    BEGIN
        SET @pos = CHARINDEX(',', @user_ids);
        SET @user_id = LEFT(@user_ids, @pos - 1);
        
        -- 避免重复授权
        IF NOT EXISTS (
            SELECT 1 FROM AuthorizedAccesses 
            WHERE achievement_id = @achievement_id AND user_id = @user_id
        )
        BEGIN
            -- 插入授权记录（access_id 自增，无需赋值）
            INSERT INTO AuthorizedAccesses (achievement_id, user_id, authorize_time)
            VALUES (@achievement_id, @user_id, GETDATE());
        END
        
        SET @user_ids = STUFF(@user_ids, 1, @pos, '');  -- 移除已处理的用户ID
    END
    
    PRINT '批量授权完成';
END;
GO
