USE [NationalParkDB]
GO
/****** Object:  Table [dbo].[DataCollections]    Script Date: 2025/12/31 15:07:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DataCollections](
	[collection_id] [varchar](50) NOT NULL,
	[project_id] [varchar](50) NOT NULL,
	[collector_id] [varchar](50) NOT NULL,
	[collection_time] [datetime] NOT NULL,
	[area_id] [varchar](50) NOT NULL,
	[content] [ntext] NOT NULL,
	[data_source] [nvarchar](20) NOT NULL,
	[remarks] [ntext] NULL,
PRIMARY KEY CLUSTERED 
(
	[collection_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_datacollection_area_id]    Script Date: 2025/12/31 15:07:03 ******/
CREATE NONCLUSTERED INDEX [idx_datacollection_area_id] ON [dbo].[DataCollections]
(
	[area_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_datacollection_project_time]    Script Date: 2025/12/31 15:07:03 ******/
CREATE NONCLUSTERED INDEX [idx_datacollection_project_time] ON [dbo].[DataCollections]
(
	[project_id] ASC,
	[collection_time] DESC
)
INCLUDE([collector_id],[area_id],[data_source]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DataCollections]  WITH CHECK ADD FOREIGN KEY([project_id])
REFERENCES [dbo].[ResearchProjects] ([project_id])
GO
