USE [NationalParkDB]
GO
/****** Object:  Table [dbo].[ResearchProjects]    Script Date: 2025/12/31 15:07:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ResearchProjects](
	[project_id] [varchar](50) NOT NULL,
	[project_name] [nvarchar](200) NOT NULL,
	[leader_id] [varchar](50) NOT NULL,
	[apply_unit] [nvarchar](100) NOT NULL,
	[approval_date] [date] NOT NULL,
	[conclusion_date] [date] NULL,
	[status] [nvarchar](20) NOT NULL,
	[research_field] [nvarchar](50) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[project_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_researchproject_leader_id]    Script Date: 2025/12/31 15:07:03 ******/
CREATE NONCLUSTERED INDEX [idx_researchproject_leader_id] ON [dbo].[ResearchProjects]
(
	[leader_id] ASC
)
INCLUDE([project_name],[status],[research_field]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_researchproject_status_field]    Script Date: 2025/12/31 15:07:03 ******/
CREATE NONCLUSTERED INDEX [idx_researchproject_status_field] ON [dbo].[ResearchProjects]
(
	[status] ASC,
	[research_field] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ResearchProjects] ADD  DEFAULT (N'在研') FOR [status]
GO
