USE [NationalParkDB]
GO
/****** Object:  Table [dbo].[AuthorizedAccesses]    Script Date: 2025/12/31 15:07:03 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthorizedAccesses](
	[access_id] [int] IDENTITY(1,1) NOT NULL,
	[achievement_id] [varchar](50) NOT NULL,
	[user_id] [varchar](50) NOT NULL,
	[authorize_time] [datetime] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[access_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_authorizedaccess_achievement_user]    Script Date: 2025/12/31 15:07:03 ******/
CREATE NONCLUSTERED INDEX [idx_authorizedaccess_achievement_user] ON [dbo].[AuthorizedAccesses]
(
	[achievement_id] ASC,
	[user_id] ASC
)
INCLUDE([authorize_time]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [idx_authorizedaccess_user_id]    Script Date: 2025/12/31 15:07:03 ******/
CREATE NONCLUSTERED INDEX [idx_authorizedaccess_user_id] ON [dbo].[AuthorizedAccesses]
(
	[user_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[AuthorizedAccesses] ADD  DEFAULT (getdate()) FOR [authorize_time]
GO
ALTER TABLE [dbo].[AuthorizedAccesses]  WITH CHECK ADD FOREIGN KEY([achievement_id])
REFERENCES [dbo].[ResearchAchievements] ([achievement_id])
GO
